.container{
    background-color: #2f2f2f;
    color: #fff;
    max-width: 25rem;
    display: grid;
    place-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,20);
}

.container>div{
    border-top: solid 1px #fff;
    padding: 1rem 2.5rem;
    text-align: center;
    width: 100%;
}

.container>h2{
    margin: 1rem;
    text-align: center;
}

.avatar{
    border-radius: 100px;
    margin: 2rem;
}

.links{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link{
    text-decoration: none;
    color: #2f2f2f;
    padding: 6px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    transition: .3s;
}

.link:hover{
    background-color: #2f2f2f;
    color: #fff;
}